/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #f7f7f7;
}

input:focus {
  outline: none;
  border: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.findinfo-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  overflow-y: hidden;
}

.find-contant {
  width: 100%;
  max-width: 620px;
  padding: 6rem 3rem;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
  border-radius: 0.3rem;
}

.find-text-box {
  padding: 1rem 0 0.5rem 0;
}

.find-tit {
  font-size: 1.2rem;
  font-weight: 500;
}

.find-text {
  font-size: 0.95rem;
}

.find-from-wrap {
  padding: 0.5rem 0;
}

.findinput {
  display: flex;
  width: 100%;
  margin: 0.5rem 0;
  align-items: center;
}

.findinput>label {
  width: 15%;
  font-weight: 500;
  font-size: 0.85rem;
}

.findinput>input {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
}

.emall-select {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.3rem;
}

.emall-select>input {
  height: 50px;
  width: 40%;
  padding: 0 1rem;
}

.ce-code {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.ce-code>input {
  height: 50px;
  width: 90%;
  padding: 0 1rem;
}

.code-cp-btn {
  background: #26af66;
  border: none;
  padding: 0 1rem;
  color: #fff;
  font-size: 0.75rem;
}

.alert-text {
  font-size: 0.8rem;
}

.completion.alert-text {
  display: none;
}

.completion-btn {
  width: 100%;
  background: #26af66;
  border: none;
  padding: 1rem 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  text: center;
}

.email-btn {
  width: 100%;
  background: #26af66;
  border: none;
  padding: 1rem 0;
  color: #fff;
}

.ant-tabs-nav-list {
  width: 100%;
}

.ant-space-item {
  width: 100%;
}

.ant-tabs-tab {
  width: 50%;
  justify-content: center;
}

.ant-tabs-tab.ant-tabs-tab-active {
  background-color: #26af66 !important;
  font-weight: 0;
}

.ant-tabs-tab .tabs-btn {
  font-size: 0.875rem;
}

.ant-tabs-top>.ant-tabs-nav::before,
.ant-tabs-bottom>.ant-tabs-nav::before,
.ant-tabs-top>div>.ant-tabs-nav::before,
.ant-tabs-bottom>div>.ant-tabs-nav::before {
  border: 1px solid #26af66 !important;
}