.sign {
  padding: 6px 12px;
  background: #2aa86b;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.login {
  padding: 6px 12px;
  background-color: #191919;
  border-radius: 6px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
